body {
    background-color: #0A0A0A; /* Pantone Black 6C */
    margin: 0;
    font-family: 'TWK Everett', sans-serif;
    color: #C1CEC8; /* Pantone 4169 C */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Aligning the nav links with the red line */
.nav-links {
    text-align: left;
    padding: 20px 0 0 762px; /* Adjusted padding to align with the red line */
}

.nav-links a {
    color: #E0E7E3; /* Pantone 7541 C (Ice color) */
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 1.2em;
    position: relative;
}

/* Add underline to the active page link */
.nav-links a.active {
    color: #B5E1A5; /* Pantone 2254 C */
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #B5E1A5; /* Pantone 2254 C */
}

/* Different layout for the contact page */
.content-container {
    display: flex;
    justify-content: center; /* Center content for a different feel */
    align-items: center;
    flex-grow: 1;
    flex-direction: column; /* Stack content vertically */
    margin: auto;
    width: 100%;
    max-width: 800px; /* Narrower width to focus on contact details */
    /* padding: -1200px 20px; */
    padding: -1000px;
}

.content-container {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    flex-grow: 1;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 50px;
}

.logo-container {
    width: 400px; /* Smaller logo size for the contact page */
    height: auto;
    margin-bottom: -20px; /* Space below the logo */
}

.logo-container img {
    width: 100%;
    height: auto;
    display: block;
}

.company-info {
    max-width: 600px;
    color: #C1CEC8; /* Pantone 4169 C */
    text-align: center; /* Center align text for a different feel */
}

.company-info h1 {
    font-size: 2.5em; /* Larger title for emphasis */
    color: #B5E1A5; /* Pantone 2254 C */
    font-weight: 400;
    font-family: 'TWK Everett', sans-serif;
    margin-bottom: 30px;
}

.company-info p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.company-info a {
    color: #B5E1A5; /* Pantone 2254 C */
    text-decoration: none;
    font-weight: bold;
}

.company-info a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 0px 0;
    background-color: #404541; /* Pantone 446 C */
    color: #C1CEC8; /* Pantone 4169 C */
    width: 100%;
}
